.img-slider {
    width: 100%;
    max-height: 450px;
    min-height: 450px;
}
.thumbnail {
    padding:0px;
}
.panel {
	position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}
.custom-alert{
	background-color:#333;
	border:1px solid #777777;
	padding:5px;
	color: #fff;
}

/* Boutique custom */
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
    margin-bottom: 15px;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item .name
{
    /*width: 50%;*/
    float: left;
    margin: 5px;
}

.col-item h5
{
  color: #72c02c;
  padding-bottom: 5px;
  border-bottom: solid 1px #E6E6E6;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #219FD1;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
button.buy {
  width: 100%;
}
img.shop {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}

div.filters {
  border: solid 1px #E1E1E1;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: -15px;
  margin-bottom: 15px;
}
.filters button {
    margin-bottom: 5px;
}
a.modal-button-1 {
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}
a.modal-button-2 {
    text-align: center;
    width: 100%;
}